<% title "Login" %>

<%= form_tag sessions_path do %>
  <fieldset>
    <legend>Login</legend>
      <div class="control-group">
        <%= label_tag :username, "Usuário" %>
        <div class="controls">
          <%= text_field_tag :username, params[:username], :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :password, "Senha" %>
        <div class="controls">
          <%= password_field_tag :password, params[:username], :class => 'password_field' %>
        </div>
      </div>
      <div class="form-actions">
        <%= submit_tag "Entrar", :class => 'btn btn-primary' %>
      </div>
  </fieldset>
<% end %>

