<div class="author">
  <% fields_for "book[author_attributes][]", author do |author_form| %>
    <p>
      <%= author_form.label :name, "Autor" %><br />
      <%= author_form.text_field_with_auto_complete :name, :index => nil, :size => 60 %>
      <%#= author_form.text_field :name, :index => nil %>
      
      <% if author.new_record? %> 
        <%= link_to_function "remover", "remove_after_slide($(this).up('.author'))" %> 
      <% else %>
        <%= link_to_function "remover", "mark_author_for_destroy(this)" %>
        <%= author_form.hidden_field :id, :index => nil %>
        <%= author_form.hidden_field :should_destroy, :index => nil, :class => 'should_destroy' %>
      <% end %>
    <p>
  <% end %>
</div>
