<% form_remote_tag :url => { :controller => 'books', :action => 'gbook' } do -%>
  <%= label_tag "ISBN" %><br/>
  <%= text_field_tag :isbn, @book.isbn %>
  <%= hidden_field_tag :id, @book.id %>
  <%= submit_tag 'Preencher' %>
<% end -%>

<% form_for @book do |f| %>
  <%= f.error_messages %>
  <p id="isbn">
    <%= f.hidden_field :isbn %>
  </p>

  <p id="title">
    <%= f.label :title, "Título" %><br />
    <%= f.text_field :title, :size => 60 %>
  </p>

  <p id="subtitle">
    <%= f.label :subtitle, "Subtítulo" %><br />
    <%= f.text_field :subtitle, :size => 60 %>
  </p>

  <p id="volume">
    <%= f.label :volume, "Volume" %><br />
    <%= f.text_field :volume, :size => 60 %>
  </p>  

  <div id="authors">
    <%= render :partial => "author", :collection => @book.authors %>
  </div>

  <p><%= add_author_link "Adicionar um autor" %></p>

  <p id="editor">
    <%= f.label :editor, "Editor" %><br />
    <%= text_field_with_auto_complete :book, :editor, :size => 60 %>
  </p>
  <p id="year">
    <%= f.label :year, "Ano" %><br />
    <%= f.text_field :year, :size => 5 %>
  </p>
  <div id="language">
    <p>
      <%= f.label :language, "Língua" %><br />
      <%= text_field_with_auto_complete :book, :language, :size => 5 %>
    </p>
  </div>
  <div id="page_number">
    <p>
     <%= f.label :page_number, "Número de Páginas" %><br />
     <%= f.text_field :page_number, :size => 5 %>
    </p>
  </div>
  <div id="subject">
    <p>
      <%= f.label :subject, "Assunto" %><br />
      <%= f.text_field_with_auto_complete :subject, :size => 60 %>
    </p>
  </div>
  <div id="tags">
    <%= render :partial => "tag", :collection => @book.tags %>
  </div>

  <p><%= add_tag_link "Adicionar palavra chave" %></p>

  <p>
    <%= f.label :collection, "Acervo" %><br />
    <%= text_field_with_auto_complete :book, :collection, :value => "Terra Livre", :size => 60 %>
  </p>
  <p>
    <%= f.label :city, "Cidade" %><br />
    <%= text_field_with_auto_complete :book, :city, :size => 60 %>
  </p>
  <p>
    <%= f.label :country, "País" %><br />
    <%= text_field_with_auto_complete :book, :country, :size => 60 %>
  </p>
  <p>
    <%= f.label :cdd, "CDD" %><br />
    <%= f.text_field :cdd, :size => 60 %>
  </p>
  <p>
    <%= f.label :pdflink, "PDF" %><br />
    <%= f.text_field :pdflink, :size => 60 %>
  </p>
  <p>
    <%= f.label :imglink, "Imagem" %><br />
    <%= f.text_field :imglink, :size => 60 %>
  </p>
  <p>
    <%= f.label :description, "Descrição" %><br />
    <%= f.text_area :description, :cols => 60 %>
  </p>
  <p><%= f.submit "Salvar" %></p>
<% end %>
