<div class="nav">
  <%= form_tag books_path, :method => :get, :id => :search_form do %>
      <%= text_field_tag :search, params[:search], :size => 30 %>
      <%= submit_tag "Busca", :name => nil, :class => 'button', :id => "search_button" %><br/>
      <div id="advanced_search">
        <% if @adv_search %>
          <%= render 'adv_search' %>
        <% end %>
      </div>
  <% end %>
  
  <% if !@adv_search %>
    <%= link_to "busca avançada", books_path(:adv_search => true), :remote => true, :id => :adv_search_show %>
  <% end %>
</div>
