<div class="nav">
  <%= form_tag books_path, :method => :get, :id => :search_form do %>
      <%= text_field_tag :search, params[:search], :size => 30 %>
      <%= submit_tag "Busca", :name => nil, :class => 'button', :id => "search_button" %><br/>
      <%= render :partial => 'adv_search' %>
  <% end %>
  <%= link_to_function "busca avançada", "adv_search_show()", :id => :adv_search_show %> 
</div>
