<% title @book.title %>

<%= form_for [@user, @book] do |builder| %>
  <fieldset>
    <legend>Editar Livro</legend>
    <!-- por em algum lugar bonito -->
    <%= builder.error_messages %>
<div class="row-fluid">
  <div class="span6">
  <br/>
    <div class="control-group">
      <%= builder.label :isbn, 'ISBN', :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :isbn, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= builder.label :title, 'Título', :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :title, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= builder.label :subtitle, 'Sub-título', :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :subtitle, :class => 'text_field' %>
      </div>
    </div>
        
    <div class="control-group">
      <%= builder.label :volume, 'Volume', :class => 'control-label' %>
      <div class="controls">
        <%= builder.number_field :volume, :class => 'number_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= builder.label :editor, 'Editora', :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :editor, :class => 'text_field' %>
      </div>
    </div>


    <div class="control-group">
      <%= builder.label :year, 'Ano', :class => 'control-label' %>
      <div class="controls">
        <%= builder.number_field :year, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= builder.label :language, 'Língua', :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :language, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= builder.label :page_number, 'Páginas', :class => 'control-label' %>
      <div class="controls">
        <%= builder.number_field :page_number, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= builder.label :subject, 'Assunto', :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :subject, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= builder.label :city, 'Cidade', :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :city, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= builder.label :country, 'País', :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :country, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= builder.label :cdd, 'CDD', :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :cdd, :class => 'text_field' %>
      </div>
    </div>
    
    
  </div>

  <div class='span6'>
  <br/>
    <%= builder.fields_for :authors do |b| %>  
      <%= render :partial => "author_fields", :locals => {:f => b} %>
    <% end %>
    <div class="controls"><%= link_to_add_fields "Adicionar autor", builder, :authors %></div>
    <br/>
      
    <%= builder.fields_for :tags do |b| %>  
      <%= render :partial => "tag_fields", :locals => {:f => b} %>
    <% end %>
    <div class="controls"><%= link_to_add_fields "Adicionar palavra chave", builder, :tags %></div>
    <br/>
    <div class="control-group">
      <%= builder.label :pdflink, 'PDF', :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :pdflink, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= builder.label :imglink, 'Imagem', :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :imglink, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= builder.label :description, 'Descrição', :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_area :description, :class => 'text_area' %>
      </div>
    </div>

    
</div>    
<div class="span12">
<div class="form-actions">
      <%= builder.submit 'Salvar', :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', books_path, :class => 'btn' %>
    </div>
    
    </div>
  </fieldset>
<% end %>

