<% title "Editar \"#{@book.title}\"" %>

<%= form_for @book do |builder| %>
  <%= builder.error_messages %>
  <p id="isbn">
    <%= builder.label :isbn, "ISBN" %><br />
    <%= builder.text_field :isbn %>
  </p>

  <%= render :partial => 'form', :locals => {:f => builder} %>

<% end %>

<p>
  <%= link_to "Mostrar", @book %> |
  <%= link_to "Voltar para lista", books_path %>
</p>
