<% rss formatted_books_url(:rss) %>

<% title "Biblioteca Terra Livre" %>

<%= render :partial => "search" %>

<p id="total">
<%= @total %> itens encontrados
</p>

<ul>
  <% for book in @books %>
    <li>
      <span class="index_title"><%= link_to book.title, book %></span><br/>
      <span class="index_author"><%= book.authors_names %></span>
      <% if book.year && book.year > 0 %>
        <span class="index_year"><%#= book.year %></span>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate @books %>

<div id="admin">
<% if admin? %>
    <%= link_to "Novo Livro", new_book_path %> | 
    <%= link_to "Deslogar", :controller => 'sessions', :action => 'destroy' %>
<% else %>
    <%= link_to "Logar", :controller => 'sessions', :action => 'new' %>
<% end %>  
</div>
