<% rss books_path(:rss) %>

<% title "Biblioteca Terra Livre" %>


<%= render :partial => "search" %>

<p id="total">
  <%= @total %> itens encontrados
</p>

<ul id="books">
  <% for book in @books %>
    <% if book %>
      <li>
        <%= link_to index_label(book), book, :class => 'index_title' %> 
        <% if admin? %>
          <span class="index_edit">
            <%= link_to "Editar", edit_book_path(book), :class => "edit_link" %>
            <%= button_to "Remover", book, :confirm => 'Tem certeza?', :method => :delete, :class => 'remove_button' %>
          </span>
        <% end %>
        <br/>
        <span class="index_author"><%= book.authors_names %></span>
        <% if book.year && book.year > 0 %>
          <span class="index_year"><%= book.year %></span>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= paginate @books %>  

<div id="admin">
<% if admin? %>
    <%= link_to "Novo Livro", new_book_path %> | 
    <%= link_to "Deslogar", :controller => 'sessions', :action => 'destroy' %>
<% end %>  
</div>



