<% title @user.name if @user %>

<% content_for :sidebar do %>
  <div class="span1">&nbsp;</div>
    <div class="span4">
      <div class="well sidebar-nav"> 
        <% if @book %>
          <%= render :template => 'books/show' %>
        <% else %>
          <%= render :partial => "adv_search" %>
        <% end %>
      </div>
   </div>
 </div>
<% end %>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Autores</th>
      <th><% if current_user %>Ações<% end %></th>
      <th><% if @user.nil? %>Acervo<% end %></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <% if book %>
      <tr>
        <td>
        <%= link_to "#{book.title} #{book.volume}", params.merge({:book => book.tombo, :user => book.user.username}) %>
        </td>
        <td><%= book.authors.map(&:name).join(', ') %></td>
        <td>
          <% if can? :update, book %>
            <%= link_to 'Editar', edit_user_book_path(book.user, book), :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :destroy, book %>
            <%= link_to 'Deletar', user_book_path(book.user, book), :method => :delete, :confirm => 'Tem certeza?', :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
        <td><% if @user.nil? %><%= link_to book.user.name, user_books_path(book.user) %><% end %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= paginate @books %>
</div>

<% if current_user %>
  <% if @user == current_user || (current_user.admin? && @user)  %>
  <%= link_to 'Novo livro', new_user_book_path(@user), :class => 'btn btn-primary' %>
  <% end %>
<% end %>
