<% rss books_path(:rss) %>

<% if current_user %>
  <% title current_user.name %>
<% else %>
  <% title "Bibliotecas Autonomas Unificadas" %>
<% end %>

<%= render :partial => "search" %>

<p id="total">
  <%= @total %> itens encontrados
</p>

<ul id="books">
  <% for book in @books %>
    <% if book %>
      <li>
        <%= link_to index_label(book), book, :class => 'index_title' %> 
          <span class="index_edit">
            <% if can? :update, book %>
              <%= link_to "Editar", edit_book_path(book), :class => "edit_link" %>
            <% end %>
            <% if can? :destroy, book %>
              <%= button_to "Remover", book, :confirm => 'Tem certeza?', :method => :delete, :class => 'remove_button' %>
            <% end %>
          </span>
        <br/>
        <span class="index_author"><%= book.authors_names %></span>
        <% if book.year && book.year > 0 %>
          <span class="index_year"><%= book.year %></span>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= paginate @books %>  

<% if current_user %>
  <div id="admin">
    <% if can? :create, Book.new %>
        <%= link_to "Novo Livro", new_book_path %> |
    <% end %>     
    <%= link_to "Deslogar", :controller => 'sessions', :action => 'destroy' %>
  </div>
<% end %>  

