<% title "Livros" %>

<div id="search" class="nav">
<% form_tag books_path, :method => :get do %>
    <%= text_field_tag :search, params[:search]%>
    <%= submit_tag "Search", :name => nil, :class => 'button' %>
<% end %>
</div>

<ul>
  <% for book in @books %>
    <li>
      <span class="title"><%= link_to book.title, book %></span><br/>
      <span class="author"><%= book.authors_names %></span>
      <span class="year"><%= book.year %></span>
    </li>
  <% end %>
</ul>

<%= will_paginate @books %>
<% if admin? %>
  <p><%= link_to "Novo Livro", new_book_path %></p>
  <p><%= link_to "Deslogar", :controller => 'sessions', :action => 'destroy' %></p>
<% else %>
  <p><%= link_to "Logar", :controller => 'sessions', :action => 'new' %></p>
<% end %>
