<% title @user.name if @user %>

<% present Book.new do |book_presenter| %>
  <% content_for :sidebar do %>
    <div class="span1">&nbsp;</div>
      <div class="span4">
        <div class="well sidebar-nav"> 
          <% if @book %>
            <%= render :template => 'books/show' %>
          <% else %>
            <%= render :partial => 'adv_search' %>
          <% end %>
        </div>
     </div>
   </div>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Autores</th>
        <th><% if current_user %>Ações<% end %></th>
        <th><% if @user.nil? %>Acervo<% end %></th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <% if book %>
          <tr>
            <td>
              <%= book_presenter.book_link(book) %>
            </td>
            <td>
              <%= book_presenter.authors_with_tooltip(book) %>
            </td>
            <td>
              <% restricted_to([book.user, admin]) do %>
                <%= btn_mini('Editar', edit_user_book_path(book.user, book)) %>
                <%= btn_mini_danger('Deletar', user_book_path(book.user, book)) %>
              <% end %>
            </td>
            <td>
              <% if @user.nil? %><%= link_to book.user.name, user_books_path(book.user) %><% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <% restricted_to([@user, admin]) do %>
    <% if  @user  %>
      <%= btn_primary 'Novo livro', new_user_book_path(@user) %>
    <% end %>
  <% end %>

  <div class="pagination">
    <%= paginate @books %>
  </div>

<% end %>
