<% title "Novo Livro" %>

<fieldset>
  <legend>Novo Livro</legend>
  <br/>
    
  <%= form_tag new_user_book_path(@user), :remote => true, :method => :get do -%>
    <div class="control-group"> 
      <%= label_tag :isbn, "ISBN", :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :isbn %>
      </div>
    </div>
    <%= submit_tag 'Preencher', :class => 'btn btn-primary' %>
  <% end -%>
  
  <%= render :partial => 'form' %>
    
</fieldset>

