<% title @book.title %>

<% present @book do |book_presenter| %>
   <h1 class='book-title'>
    <%= @book.title %>
   </h1>

   <% if @book.subtitle? %>
    <h2 class='book-subtitle'>
      <%= @book.subtitle %>
    </h2>
   <% end %>

   <% if @book.imglink? %>
    <div id='capa'>
      <img id='imgcapa' width='150px' src=<%= @book.imglink %> > 
    </div>
   <% end %>


  <%= book_presenter.field :tombo %>
  <%= book_presenter.field :volume %>
  
  <%= book_presenter.authors %>
  
  <%= book_presenter.link_field :editor %>
  <%= book_presenter.field :isbn, 'ISBN' %>
  <%= book_presenter.field :year, 'Ano' %>
  <%= book_presenter.field :language, 'Língua' %>
  <%= book_presenter.field :page_number, 'Páginas' %>
  <%= book_presenter.link_field :subject, 'Assunto' %>
  <%= book_presenter.field :city, 'Cidade' %>
  <%= book_presenter.field :country, 'País' %>
  <%= book_presenter.field :cdd, 'CDD' %>  

  <% if @book.pdflink? %>
    <%= link_to 'PDF', @book.pdflink %>
  <% end %>

  <%= book_presenter.tags %>
  
  <%= book_presenter.field :description, "Descrição" %>

  <div class="form-actions">
    <% if params %>
      <% params.delete(:book) %>
      <% params.delete(:user) %>
      <% params.delete(:_pjax) %>
    <% end %>
    
    <% if @books %>
      <% if params[:user_id] %>
        <% params.delete(:user_id) %>
        <%= btn 'Busca Avançada', user_books_path(@user, params) %>
      <% else %>
        <%= btn 'Busca Avançada', root_path(params) %>
      <% end %>
    <% end %>
    <% restricted_to([@user, admin]) do %>
      <%= btn 'Editar', edit_user_book_path(@book.user, @book) %>
      <%= btn_danger 'Deletar', user_book_path(@book.user, @book) %>
    <% end %>
  </div>
<% end %>
