<% title @book.title %>

<% if !@book.imglink.blank? %>
  <div id="capa">
    <img id="imgcapa" src=<%= @book.imglink %> /> 
  </div>
<% end %>

<p>
  <strong>Tombo:</strong>
  <%=h @book.tombo %>
</p>
<p>
  <strong>Título:</strong>
  <%=h @book.title %>
</p>
<% if !@book.subtitle.blank? %>
  <p>
    <strong>Subtítulo:</strong>
    <%=h @book.subtitle %>
  </p>
<% end %>

<% if @book.volume && @book.volume > 0%>
  <strong>Volume:</strong>
  <%=h @book.volume %>
<% end %>

<% for author in @book.authors %>
  <p>
    <strong>Autor:</strong>
    <%=h author.name %>
  </p>
<% end %>
<p>
  <strong>Editor:</strong>
  <%=h @book.editor %>
</p>

<% if !@book.isbn.blank? %>
  <p>
    <strong>ISBN:</strong>
    <%=h @book.isbn %>
  </p>
<% end %>

<% if @book.year && @book.year > 0 %>
  <p>
    <strong>Ano:</strong>
    <%=h @book.year %>
  </p>
<% end %>

<p>
  <strong>Língua:</strong>
  <%=h @book.language %>
</p>
<% if @book.page_number && @book.page_number != 0 %> 
  <p>
    <strong>Páginas:</strong>
    <%=h @book.page_number %>
  </p>
<% end %>
<p>
  <strong>Assunto:</strong>
  <%=h @book.subject %>
</p>
<p>
  <strong>Acervo:</strong>
  <%=h @book.collection %>
</p>

<% if !@book.city.blank? %>
  <p>
    <strong>Cidade:</strong>
    <%=h @book.city %>
  </p>
<% end %>

<% if !@book.country.blank? %>
  <p>
    <strong>País:</strong>
    <%=h @book.country %>
  </p>
<% end %>

<% if !@book.cdd.blank? %>
  <p>
    <strong>CDD:</strong>
    <%=h @book.cdd %>
  </p>
<% end %>

<% if !@book.pdflink.blank? %>
  <p>
    <%= link_to "PDF", @book.pdflink %>
  <p>
<% end %>

<p>
  <strong>Palavras Chave:</strong>
  <%=h @book.tags_titles %>
</p>

  <strong>Descrição:</strong><br/>
  <%=h @book.description %>
</p>

<div id="admin">
  <% if admin? %> 
    <%= link_to "Novo Livro", new_book_path %> | 
    <%= link_to "Editar", edit_book_path(@book) %> |
    <%= link_to "Remover", @book, :confirm => 'Tem certeza?', :method => :delete %> |
  <% end %>
  
  <%= link_to "Ver Todos", books_path %>
</div>



